@import "../../components/style/var";

.audit-order-page {
  background-color: #fff;
  .page-main {
    padding: 16px;
    padding-top: 0px;
    .tool-box {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
}
