.filter-table {
  &-item {
    border-bottom: 1px solid #eee;
    &-label {
      text-align: right;
      vertical-align: middle;
      float: left;
      font-size: 14px;
      color: #606266;
      line-height: 42px;
      padding: 0 24px 0 0;
      box-sizing: border-box;
      font-weight: bold;
    }

    &-content {
      line-height: 42px;
      position: relative;
      font-size: 14px;
    }
  }
}
