html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  &-header {
    z-index: 2;
    padding: 0;
  }

  &-container {
    height: 100vh;
    &.is-fixed {
      .el-header {
        z-index: 2;
      }
    }
  }
}

.app-content {
  .page-header {
    padding: 16px;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    & > span {
      display: inline-block;
      width: 80px;
      font-weight: 400;
      color: #999;
      cursor: pointer;
      &.active, &:hover {
        font-weight: 600;
        color: #666;
      }
    }
  }
  .app-page-content {
    position: relative;
  }
}

// 面包屑样式
.breadcrumb-block {
  padding-bottom: 16px;

  .app-page-title {
    font-weight: bold;
    color: #666;
    font-size: 18px;
    line-height: 18px;
  }

  .back-btn {
    height: 35px;
    width: 30px;
    padding: 0 25px 0 9px;
    float: left;
  }

  .text-block {
    float: left;
    margin-left: 16px;
    color: #666;

    .current-text {
      line-height: 16px;
      font-weight: bold;
    }

    .pre-text {
      line-height: 12px;
      font-size: 12px;
      margin-top: 7px;
    }
  }
}

// 状态标签
.status-tag {
  color: #975fe4;
  display: inline-block;
  border: 1px solid #975fe4;
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
  border-radius: 6px;
  font-size: 12px;
  &.running {
    color: #975fe4;
    border: 1px solid #975fe4;
  }
  &.finish {
    color: #66cc00;
    border: 1px solid #66cc00;
  }
  &.success_cancel {
    color: #1f8def;
    border: 1px solid #1f8def;
  }
  &.failure {
    color: #ff3300;
    border: 1px solid #ff3300;
  }
  &.failure_cancel {
    color: #999999;
    border: 1px solid #999999;
  }
}

.floatfix:after {
  content: "";
  display: table;
  clear: both;
}

// 日期控件宽度100%的设置
.picker-width-100 {
  width: 100%;
  .el-date-editor {
    width: 100%;
  }
}
