@import "../style/var";

html,
body {
  height: 100%;
}

.app {
  &-header {
    z-index: 2;

    .gs-special-nav {
      li {
        width: auto !important;
        margin-right: $gap-size-md;
      }
    }

    .user-info-dropdown {
      padding-left: 0;
      font-size: 14px;
      color: #fff;
      vertical-align: bottom;

      &:hover {
        color: #fff;
      }

      .gs-icon-down {
        font-size: 14px !important;
      }
    }
  }

  &-container {
    &.is-fixed {
      .gs-layout-header {
        z-index: 2;
      }
    }
  }
}
.app-content {
  .page-header {
    padding: 16px;
    border-bottom: 1px solid #eee;
    font-weight: 600;
    & > span {
      display: inline-block;
      width: 80px;
      font-weight: 400;
      color: #999;
      cursor: pointer;
      &.active, &:hover {
        font-weight: 600;
        color: #666;
      }
    }
  }
  .app-page-content {
    position: relative;
  }
}

// 面包屑样式
.breadcrumb-block {
  padding-bottom: 16px;

  .app-page-title {
    font-weight: bold;
    color: #666;
    font-size: 18px;
    line-height: 18px;
  }

  .back-btn {
    height: 35px;
    width: 30px;
    padding: 0 25px 0 9px;
    float: left;
  }

  .text-block {
    float: left;
    margin-left: 16px;
    color: #666;

    .current-text {
      line-height: 16px;
      font-weight: bold;
    }

    .pre-text {
      line-height: 12px;
      font-size: 12px;
      margin-top: 7px;
    }
  }
}

.bordered-table {
  .gs-table td, .gs-table th {
    border: 1px solid #d9d9d9;
  }
  .gs-table-body, .gs-table-footer, .gs-table-header {
    border-collapse: collapse;
  }
  .gs-table th {
    height: 32px;
    & > .cell {
      line-height: 32px;
    }
  }
  .gs-table-footer-wrapper thead th, .gs-table-header-wrapper thead th {
    background: #fff;
  }
}

.choose-modal {
  .gs-modal-content {
    position: relative;
    .choose-tip-box {
      position: absolute;
      bottom: 18px;
      color: #73d13d;
    }
  }
}
.small-btn {
  padding: 0 7px;
  border-radius: 0px;
}

// 状态标签
.status-tag {
  color: #975fe4;
  display: inline-block;
  border: 1px solid #975fe4;
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
  border-radius: 6px;
  font-size: 12px;
  &.running {
    color: #975fe4;
    border: 1px solid #975fe4;
  }
  &.finish {
    color: #66cc00;
    border: 1px solid #66cc00;
  }
  &.success_cancel {
    color: #1f8def;
    border: 1px solid #1f8def;
  }
  &.failure {
    color: #ff3300;
    border: 1px solid #ff3300;
  }
  &.failure_cancel {
    color: #999999;
    border: 1px solid #999999;
  }
}

.gs-icon-loading {
  animation: a 2s linear infinite !important;
}

@keyframes a
{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

.floatfix:after {
  content: "";
  display: table;
  clear: both;
}

// 日期控件宽度100%的设置
.picker-width-100 {
  width: 100%;
  .gs-picker-input-wrapper {
    width: 100%;
    .gs-picker-input {
      width: 100% !important;
    }
  }
}